@import "../mocha.css";

window#waybar {
    min-height: 80px;
}

.module {
    color: @base;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    margin-left: 4px;
    padding: 6px 4px;
    margin-right: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
}

tooltip {
    background-color: @base;
}

tooltip label {
    color: @text;
}

#network {
    background-color: @mauve;
}

#workspaces {
    background-color: @lavender;
    padding: 0px 0px;
}

#workspaces button {
    color: @base;
    background: transparent;
    padding: 2px 2px;
    margin: 0px 0px;
    border-radius: 6px;
}

#window {
    background-color: @green;
}

#custom-power {
    background-color: @red;
    margin-left: 8px;
}

#custom-appsmenu {
    background-color: @mauve;
}

#clock {
    background-color: @blue;
}

#battery {
    background-color: @green;
    margin-right: 8px;
}

#memory {
    background-color: @lavender;
}

#cpu {
    background-color: @maroon;
}

#backlight {
    background-color: @yellow;
}

#pulseaudio {
    background-color: @teal;
}
