@import ".config/mocha.css";

* {
  font-family: "UbuntuMono Nerd Font";
  font-size: 20px;
}

window {
  border: 0.16em solid @lavender;
  border-radius: 0.5em;
  background-color: @mantle;
}

#inner-box {
  margin-left: 20px;
  border: none;
  background-color: @mantle;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @mantle;
}

#scroll {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 0.16em solid @blue;
  border-radius: 0.5em;
  background-color: @mantle;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  padding: 5px;
  margin-right: 20px;
  background-color: @mantle;
}

#entry:selected {
  background: @lavender;
}

#entry:selected #text {
  color: @mantle;
}
