@import ".config/mocha.css";
@import ".config/wofi/common_style.css";

#scroll {
  margin-top: 0px;
}

#input {
  all: unset;
  min-height: 0px;
  max-height: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
