@import ".config/mocha.css";
@import ".config/wofi/common_style.css";

#scroll {
  margin-top: 20px;
}

#input {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 7px;
  border: 0.16em solid @red;
  box-shadow: none;
  border-radius: 0.5em;
  color: @text;
  background-color: @mantle;
}

#input image {
  border: none;
  color: @red;
}

#input:focus {
  border: 0.16em solid @green;
}

#input:focus image {
  border: none;
  color: @blue;
}
